@use "../vars/variables" as *;
@use "../vars/raduis" as *;

form {
  background-color: $bg-main-c;
  padding: 20px;
  width: 400px;
  border-radius: $large-r;

  .form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    label {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 8px;
    }

    input {
      width: 100%;
      padding: 10px;
      border: 1px solid $border-c;
      border-radius: $small-r;
      outline: none;
      margin: 3px 0;
      background-color: transparent;
      color: $text-main-c;
    }

    button {
      width: 100%;
      margin-top: 6px;
      padding: 13px;
      border: 1px solid $border-c;
      border-radius: $medium-r;
      background-color: transparent;
      color: $text-main-c;
      font-size: 18px;
      cursor: pointer;
    }
  }
}
   
