@use "../vars/variables" as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  font-family: sans-serif, Tahoma, Geneva, Verdana;
  color: $text-main-c;
}


